@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

* {
    font-family: lora, serif;
    transition: 450ms;
}
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    vertical-align: center;
}

#main-title {
    position: absolute;
    display: flex;
    text-align: center;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
}
#main-title:hover {
    cursor: pointer;
    font-size: 4.5em;
    letter-spacing: 0.8rem;
    color: #222;
    background-color: #009696;
    box-shadow: 0 0 80px 80px #099;
}
#background:has(#main-title:hover) {
    background-color: #111;
}
#main-title:hover + footer {
    opacity: 0;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    color: #eee;
    margin-bottom: 10px;
}
#footer-txt-div {
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    margin-left: 10px;
    display: inline-block;
    max-width: 45%;
    height: 100%;
    background-color: blueviolet;
}
.footer-txt {
    font-size: 15px;
    transform: translateY(-80%);
}
#credits {
    position: fixed;
} :hover {
    text-underline-mode: simple;
    ~ #see-links-msg {
        opacity: 100%;
        transition-delay: 200ms;
        transform: translate(30px, -80%);
    }
}
#see-links-msg {
    position: fixed;
    left: 130px;
    margin-top: 16px;
    font-size: 13px;
    font-style: italic;
    color: #aaa;
    opacity: 0;
}
#footer-links-div {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    margin-right: 10px;
    display: inline-block;
    max-width: 45%;
    height: 100%;
}
.link-icon {
    height: 100%;
    cursor: pointer;
    padding-left: 5px;
}